*{
    margin: 20;
    padding: 0;
}
#contenedor_registro{
    width: 1200px;
    height: 800px;
    margin: 0.5em;
    padding: 0.5em;
}
#header_registro{

}
#navegacion_registro{
        
}
#contenido_registro{
    height: 47.5%;
    border-style: solid;
    border-radius: 1em;
    padding: 0.1em 0em 0em 0.5em;    
}
.campoTexto{
    height: 17px;
    width: 200px;    
}
.camp1{
    margin-left: 4.5em;
}
.camp3{
    margin-left: 5.1em;
}
.camp4{
    margin-left: 6.8em;
}
.camp5{
    margin-left: 7.3em;
}
.camp6{
    margin-left: 6.2em;
}
.camp7{
    margin-left: 6.3em;
}
.BotonRegistro{
    margin-bottom: auto;
}